<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Download Statement</title>
</head>
<body style="text-align:center; margin-top:100px; font-family:sans-serif;">

    <h2>Download Monthly Statement</h2>

    <form onsubmit="downloadPDF(); return false;">
        <input type="text" id="accountNumber"
               placeholder="Enter Account Number"
               required />
        <br><br>
        <button type="submit">Download PDF</button>
    </form>

    <script>
        function downloadPDF() {
            const accountNumber =
                document.getElementById("accountNumber").value;

            window.location.href =
                "/statement/download/" + accountNumber;
        }
    </script>

</body>
</html>
